# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
emozine-backend/emozine-env/
emozine-backend/db.sqlite3

# Node (React)
emozine-frontend/node_modules/
emozine-frontend/.env

# OS
.DS_Store

# IDE
.vscode/
.idea/
